<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>編集画面</title>
</head>
<body>
	<p class="form-note">
	</p>
<form th:action="@{/daily-log/{logDate}/edit(logDate=${dailyLogForm.logDate})}" method="post" th:object="${dailyLogForm}">
	<div>
		<label>日付</label>
		<input type="date" name="logDate" th:value="${dailyLogForm.logDate}" required readonly>
	</div>
	<div>
		<label>体重</label>
		<input type="number" step="0.01" th:field="*{weightKg}" required>
	</div>
	<div>
		<label>睡眠時間</label>
		<input type="number" step="0.1" th:field="*{sleepHours}">
	</div>
	<div>
		<label>間食</label>
		<input type="text" th:field="*{snackType}">
	</div>
	
	<button type="submit">更新</button>
	
</form >
</body>
</html>