<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>体重ログ一覧</title>
</head>

<body>
	<h1>体重ログ一覧</h1>
	<a th:href="@{/daily-log/new}">新規登録</a>
	<table>
		<thead>
			<tr>
				<th>日付</th>
				<th>体重</th>
				<th>編集</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="dailyLog : ${dailyLogs}">
				<td th:text="${dailyLog.logDate}"></td>
				<td th:text="${dailyLog.weightKg}"></td>
				<td><a th:href="@{/daily-log/{logDate}/edit(logDate=${dailyLog.logDate})}">編集</a></td>
			</tr>
		</tbody>
	</table>
</body>

</html>